<div class="container">


<img src="../assets/header/img_cover_header.png" class="header_img" alt="badge">
<div class="text-container">
<h3 class="text-h2">IL RISULTATO DELLO SKILLGAME E':</h3>
<h1 class="text-h1">COMUNICAZIONE</h1>
</div>
</div>


<div class="container-icon">
  <div class="vertical-icon">
<img src="../assets/SKILLGAME/COMUNICAZIONE/blocco contenuti/icona_comunicazione.png" class="icons">
<span class="icon-description">Comunicazione</span>
  </div>
  <div class="vertical-icon">
<img src="../assets/SKILLGAME/COMUNICAZIONE/blocco contenuti/icona_comunicazione.png"  class="icons">
<p class="icon-description">Vendita</p>
</div>
<div class="vertical-icon">
<img src="../assets/SKILLGAME/COMUNICAZIONE/blocco contenuti/icona_comunicazione.png"  class="icons">
<span class="icon-description">Scrittura</span>
</div>
<div class="vertical-icon">
<img src="../assets/SKILLGAME/COMUNICAZIONE/blocco contenuti/icona_comunicazione.png"  class="icons">
<span class="icon-description">Empatia</span>
</div>
</div>



<div class="container-flex-1">
<img src="../assets/SKILLGAME/TERAPIA/blocco contenuti/vocazione.png" class="vocazione-flex">

<div class="text-container">
<h3 class="text-1">
La tua vocazione professionale è: 
</h3>
<h2 class="text-2">Comunicazione e Marketing</h2>
<p class="vocazione-decription">
    La vocazione è una spinta all’azione, una chiamata ad un progetto al quale ti vuoi dedicare con tutta la tua passione. Secondo il risultato dello Skill Game la tua area vocazionale è la <strong>Comunicazione</strong>.<br>
    <br>
    <strong>Ti piace comunicare a vari livelli</strong>, raccontare storie o prodotti, la tua vita personale o il lavoro che fai.<br>
    Ti piace allenare il modo in cui proporre idee convincenti e trasmetterle in modo efficace.<br> Riesci a <strong>scrivere</strong> o comunicare visivamente con gli altri,<br>attraverso diversi media, sul digitale o dal vivo.<br> <strong> Parlare in pubblico</strong> per te non dovrebbe essere un problema e non hai paura di esprimere le tue opinioni discutendo con gli altri.<br> <strong> Anche vendere un prodotto o un servizio</strong>  e proporlo in modo originale,<br> studiando la strategia in cui può essere rappresentato e promosso, dovrebbe riuscirti bene e darti una grande gratificazione.<br><br>
    Sei portato/a nel <strong>raccontare un prodotto o servizio</strong> magari a livello grafico, oppure organizzare e impostare le informazioni di un prodotto su un sito web. Questo settore richiede <strong>capacità espressive, creatività, buone capacità relazionali ed empatiche</strong> dato che qualsiasi lavoro tu faccia o scelga sarai sempre a contatto direttamente o indirettamente con un pubblico o dei clienti (ad esempio come imprenditore o venditore). 
   <br>
   <br>
   <span class="text-strong">
    La vocazione della Comunicazione si può esprimere oggi attraverso i diversi strumenti della comunicazione digitale, gestire un sito web, un ecommerce o un blog, sviluppare un piano editoriale sui canali social come Facebook o Instagram, coordinare la comunicazione o il marketing di un progetto, di un’impresa o di una grande azienda.
   </span>
    <br>
    <br>  
    In particolare può articolarsi nelle nuove professioni della comunicazione digitale scritta o visiva come ad esempio web journalist, blogger, digital marketing specialist, graphic designer, web designer, ma anche responsabile della comunicazione online, del marketing digitale, etc.
    
</p>
</div>
</div>

<div class="container-flex-1">
  <div class="text-container">
<h3 class="text-4">Professioni</h3>
<ul class="a">
  <li >Brand Manager</li>
  <li >Direttore Marketing</li>
  <li >Responsabile Comunicazione</li>
  <li >Product Manager </li>
  <li >Product Manager </li>
  <li >Digital Marketing Specialist</li>
  <li>Social media Manager</li>
  <li >Comunicatore pubblico, Comunicatore sociale </li>
  <li>Comunicatore d’impresa</li>
  <li >Addetto alle relazioni con il pubblico</li>
  <li >Giornalista, Reporter, Addetto Stampa</li>
  <li >Venditore o Business Developer</li>
  <li>Graphic Designer, Web designer</li>
  <li >Speaker, Autore, Conduttore, Agente di spettacolo</li>
</ul>
</div>
<div class="text-container">

</div>
<img src="../assets/SKILLGAME/COMUNICAZIONE/blocco contenuti/img_professioni.png" class="vocazione-flex-1">
</div>

<div class="text-container-1">
<h3 class="text-1">Condividi il tuo risultato</h3>
<div class="container-icon">
    <img src="../assets/SKILLGAME/elementi fissi/icona_facebook_blu.png" class="icons-social">
    <img src="../assets/SKILLGAME/elementi fissi/icona_twitter_blu.png">
    <img src="../assets/SKILLGAME/elementi fissi/icona_in_blu.png">
    </div>
  </div>

<div class="container-test">


        <img src="../assets/SKILLGAME/TECNOLOGIA-MECCANICA/blocco contenuti/img_vocazione.png" class="header_img-2" alt="badge">
        <div class="text-container">
        <h2 class="text-result">POTENZIALITA' E CARATTERE </h2>
        <h3 class="text-result-2"> I quattro punti di forza del tuo carattere?<br> fail il nostro test per scoprirlo </h3>
        <button type="button" class="button action-button">Fai il test</button>
        </div>
        </div>
<div class="text-container-1">
<h2 class="text-5">
  Titolo dedicato alla sezione vendita dei due ebook(testo simulato)
<br>

</h2>
<div class="container-flex-2">
<img src="../assets/SKILLGAME/elementi fissi/copertina_ebook.png" class="copertina-ebook">
<p class="text-3">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, 
</p>
</div>
<h5 class="text-result-3">abbiamo una guida anche per te</h5>
<button type="button" class="button action-button-2">Acquista ora</button>
</div>