@media all and (max-width: 600px) {
    .container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
     justify-content: center !important;
     height: 60vw !important;
  
    }

    .text-container {
        display: flex !important;
        flex-direction: column !important;
    }

    .header_img {
        width: 35% !important;
        /* margin-left: 5% !important;
        margin-top: 2% !important; */
        align-self: center !important;
        }

        .text-h1 {
            
             font-size: 9vw !important;
             align-self: center !important;
             margin-bottom: 10% !important;
             max-width: 80% !important;
             margin: 0 40px 0 0 !important;
            }
            
            .text-h2 {
                max-width: 100% !important; 
                 font-size: 1.1em !important;
                 align-self: center !important;
                
                }

        .container-flex {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            width: 100% !important;
        }

        .container-flex-1 {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            width: 100% !important;
        }

        .container-flex-2 {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            width: 100% !important;
        }

        .container-icon {
            display: flex;
              align-items: center !important;
              justify-content: center !important;
              flex-flow: row;
              flex-wrap: wrap !important;
                /* background-color: #EEEEEE; */
                width: 100%;
                height: 250px;
                margin-bottom: 30%;
                
            }

            .icon-description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 0px !important;
            }

            .icons {
               
                width: 50% !important;
                margin-left: 60px !important;
                
                }


              


                .vocazione-flex {
                    width: 50% !important;
                    align-self: center !important;
                    /* margin-left: 22% !important; */
                    margin-bottom: 15% !important;
                    
                }


                .vocazione-flex-1 {
                    width: 50% !important;
                    align-self: center !important;
                    /* margin-left: 22% !important; */
                    margin-bottom: 15% !important;
                    
                }

                .text-1 {
                    align-self: center !important;
                    text-align: center !important;
                    line-height: 0 !important;
                    font-size: 1.6em !important;
                    margin-bottom: 2%; 
                }

                .text-2 {
                    align-self: center !important;
                    text-align: center !important;
                    line-height: 0.5 !important;
                    font-size: 1.6em !important;

                }

                .text-4 {
                    align-self: flex-start !important;
                    margin-left: 9% !important;
                }

                .text-5 {
                    align-self: center !important;
                    text-align: center !important;
                    line-height: 0 !important;
                    font-size: 1em !important;
                    word-wrap: break-word !important;
                    margin-bottom: 2%;
                 
                }

               
                .vocazione-decription {
                   
                    
                    max-width: 90% !important;
                    align-self: center !important;
                    /* text-align: center !important; */
                    font-size: 1.2em !important;

                }


                li::before {
                    content: "•";
                    color: #0098D5;
                    /* font-size:2em; */
                    margin-left: 39px !important;
                    word-wrap: break-word !important;
                }

                ul {
                  
                    margin-left: 0 !important;
                
                }
                

               

                .container-test {
                    display: flex;
                    flex-direction: column !important;
                    align-items: center;
                    /* justify-content: space-around; */
                    background-image: url("../assets/SKILLGAME/texture_fai_altro_test.png");
                    height: 150vw !important;
                    width: 100%;
                    margin-top:50px;
                }

                .header_img-2 {
                    width: 50% !important;
                    align-self: center ;
                    margin-left: 0px !important;
                    margin-top: 15% !important;
                    margin-bottom: 5% !important;
                    }

                    .text-result-2 { 
                        font-size: 4vw !important;
                    }

                    .action-button {
                        align-self: center !important;
                    }

                    .text-3 {
                        align-self: center !important;
                        font-size: 2.5vw !important;
                        max-width: 60% !important;
                    }

                    .container-test {
                        height: 110vw !important;
                    }



                    .copertina-ebook {
                       
                        width: 35% !important;
                        
                       }
                   
                
  }





.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    background-image: url("../assets/header/cover_header_pagina_risultati.png");
    height: 30vw;
    background-size: cover;
   max-width: 100vw;
   
   
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
 
}

.container-flex-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    margin-bottom: 5px;
    
 
}

.container-flex-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-bottom: 5px;
    
 
}


.header_img {
   width: 25%;
   align-self: center ;
   /* margin-left: 230px;  */
   }

   .header_img-2 {
    width: 30%;
    align-self: center ;
    margin-left: 230px; 
    }

.text-h1 {
font-family: 'Lato', sans-serif;
/* margin-top: 25px; */
 color: #eee4e5;
 font-size: 4vw;
  /* line-height: 28px; */
  outline: rgb(255, 255, 255) none 0px;
  text-decoration: none solid rgb(255, 255, 255);
  align-self: flex-start;
  
}

.text-h2 {
    font-family: 'Raleway', sans-serif; 
    /* margin: 5px; */
    /* flex: 1 1 auto; */
     color: #eee4e5;
     font-size: 3vw ;
      font-weight: bold;
      /* line-height: 28px; */
      outline: rgb(255, 255, 255) none 0px;
      text-decoration: none solid rgb(255, 255, 255);
      align-self: flex-start;
      /* margin-bottom: 5px; */
    }

.text-result {
    
    /* flex: 1 1 auto; */
     color: #0098D5;
     font-size: 5vw !important;
      
      font-weight: bold;
      /* line-height: 28px; */
      outline: rgb(255, 255, 255) none 0px;
      text-decoration: none solid rgb(255, 255, 255);
      font-family: 'Raleway', sans-serif; 
      align-self: flex-start;
      margin-bottom: 5px;
    }

    .text-result-2 {
       
        /* flex: 1 1 auto; */
         color: #212121;
         font-size: 2vw ;
         
          font-weight:bold;
          line-height: 30px;
          outline: rgb(255, 255, 255) none 0px;
          text-decoration: none solid rgb(255, 255, 255);
          font-family: 'Raleway', sans-serif; 
          align-self: flex-start;
          margin-bottom: 10px;
        }

        .text-result-3{
       
           
             color: #212121;
             font-size: 3vw;
             
              font-weight: 200;
              line-height: 28px;
              outline: rgb(255, 255, 255) none 0px;
              text-decoration: none solid rgb(255, 255, 255);
              font-family: 'Raleway', sans-serif; 
              align-self: center;
              border-top: 5px solid #0098D5;
              border-radius:3px;
              padding-top: 15px; 
              text-transform: uppercase;
              margin-bottom: 2%; 
            }


.container-icon {
margin-top: 5%;
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
    /* background-color: #F5F5F5; */
    width: 100%;
}

.vartical-icon {
    flex-flow: column;
}

.icon-description{
display: flex;
align-self: center;
margin-left: 9px;
color: #0098D5;
font-family: 'Raleway', sans-serif; 
 /* max-width: 70%; */
  letter-spacing: 2px;
  line-height: 24px;
  line-height: 1.6 !important;
  outline: rgb(125, 151, 173) none 0px;
  /* text-align: left; */
  font-weight: bold;
}

.icons {

align-self: center;
width: 50%;
margin: 1%;


}



.vocazione-flex {
    width: 20%;
    margin-left: 8%; 
    margin-right: 8%;
    
    align-self: center !important;
    margin-top: 5%;
    
}

.vocazione-flex-1 {
    width: 25%;
    /* margin-left: 100px; 
    margin-right: 100px; */
    align-self: center !important;
    margin-top: 5%;
    
}

.text-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center !important;
    align-items: center !important; */
    margin-top: 5%;
    margin-bottom: 5%;
   
    
}

.text-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 5%;
    margin-bottom: 5%;
    
}


.vocazione-decription {
  /* color: #7d97ad;
  font-size: 1.12em !important; */
  font-family: 'Raleway', sans-serif; 
 /* max-width: 70%; */
  letter-spacing: 2px;
  line-height: 24px;
  line-height: 1.6 !important;
  outline: rgb(125, 151, 173) none 0px;
  text-align: left;
  width: 100%;
  /* align-self: center; */
  margin-bottom: 5%;
  
  
}

.text-strong {
    color: #0098D5;
}
ul {
    list-style: none;
    margin-left: -15em;

}



/* li::before {
    content: "•";
    color: #0098D5;
     font-size:2em; 
     margin-left: -1em; 
} */


.container-test {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    background-image: url("../assets/SKILLGAME/texture_fai_altro_test.png");
    height: 30vw;
    width: 100%;
    /* margin-top:50px; */
 
    margin-top: 0;
    
}

.action-button {
    font-size: 1em;
    color: white;
    height: 50px;
    width: 30%;
    align-self: flex-start;
    background-color: #0098D5;
    border-radius:3px;
    border:1px solid #0098D5;
    cursor:pointer;
    font-family: 'Raleway', sans-serif; 
    
}

.action-button-2 {
    font-size: 1em;
    color: white;
    height: 50px;
    width: 32%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #0098D5;
    border-radius:3px;
    border:1px solid #0098D5;
    cursor:pointer;
    font-family: 'Raleway', sans-serif; 
    
}
ul li {
    font-family: 'Raleway', sans-serif; 
    margin: 5px;
 color: #212121;
 font-size: 0.9em !important;
  font-weight: 400;
  line-height: 28px;
  outline: rgb(255, 255, 255) none 0px;
  text-decoration: none solid rgb(255, 255, 255);
  line-height: 1.6 !important;
  letter-spacing: 1px;
 
 

}

.text-1 {
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
flex: 1 1 auto;
 color: #212121;
 font-size: 2vw ;
  font-weight: bold;
  line-height: 28px;
  outline: rgb(255, 255, 255) none 0px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: left !important;
  align-self: center;
}

.text-2 {
    font-family: 'Raleway', sans-serif; 
    margin: 0px 5px 5px 0px;
flex: 1 1 auto;
 color: #0098D5;
 font-size: 3vw ;
 align-self: center;
  font-weight: bold;
  line-height: 28px;
  outline: rgb(255, 255, 255) none 0px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: left;
  margin-top: 2%;
  margin-bottom: 5%;
}

.text-4 {
    font-family: 'Raleway', sans-serif; 
    margin: 5px 5px 5px 0px;
flex: 1 1 auto;
 color: #0098D5;
 font-size: 4vw ;
 align-self: flex-start;
  font-weight: bold;
  line-height: 28px;
  outline: rgb(255, 255, 255) none 0px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: left;
  margin-top: 5%;
  margin-bottom: 15%;
  margin-left: -4.4em;
}


.text-5 {
    font-family: 'Raleway', sans-serif; 
    margin: 5px 5px 5px 0px;
flex: 1 1 auto;
 color: #0098D5;
 font-size: 2vw ;
 align-self: center;
  font-weight: bold;
  line-height: 28px;
  outline: rgb(255, 255, 255) none 0px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  
}



.text-3 {
 /* color: #7d97ad;
  font-size: 1.12em !important; */
  font-family: 'Raleway', sans-serif; 
 /* max-width: 70%; */
  letter-spacing: 2px;
  line-height: 24px;
  line-height: 1.6 !important;
  outline: rgb(125, 151, 173) none 0px;
  text-align: left;
  width: 100%;
  /* align-self: center; */
  margin-bottom: 5%;
  margin-top: 3em;
}

.text-title {
    align-self: flex-start;
}


.copertina-ebook {
 align-items: center;
 align-content: center;
 width: 15%;
 margin: 40px;
}